<%- include("header") -%>


<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, minima ullam! Exercitationem vel illo, nostrum rerum modi provident autem similique amet, praesentium libero, aliquam voluptate maiores enim debitis at fugiat iure eum ipsam eos molestias aspernatur voluptatem? Distinctio, praesentium at. Voluptate non nostrum officiis earum quis, sunt dolore impedit praesentium.</p>

<%- include("footer") -%>